<form [formGroup]="artistForm" (submit) ="addArtist(artistForm)" class= "form-horizontal">
  <!-- {{ artistForm.value | json }} -->
  <div class="form-group">
    <label for="name">Name:</label>
    <input formControlName="artistName" type="text" class="form-control" placeholder="Enter the artist's name here" name="name" required>
  </div>
  <div class="form-group">
    <label for="country">Country:</label>
    <input formControlName="artistCountry" type="text" class="form-control" placeholder="Enter the artist's country here" name="country" minlength="4" required>
  </div>
  <div class="genLangs">
    <label>Genres (Select all that apply):</label>
    <div class="checkbox" *ngFor="let genre of genres">
      <label><input formArrayName="artistGenres" type="checkbox" [value]="genre" name={{genre}} (change)="onGenreCheck($event)"> {{genre}}</label>
    </div>
  </div>
  <div class="genLangs">
    <label>Languages (Select all that apply):</label>
    <div class="checkbox" *ngFor="let language of languages">
      <label><input formArrayName="artistLanguages" type="checkbox" [value]="language" name={{language}} (change)="onLanguageCheck($event)"> {{language}}</label>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea formControlName="artistDescription"placeholder="Write about why you like this artist" class="form-control" id="description" name="description" minlength="10" required></textarea>
  </div>
  <input class="btn-primary btn-xs" type="submit"  value="Submit">
  <button class="btn-danger btn-xs" (click) = "cancel()">Cancel</button>
</form>
