/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color:  #0E1C36;
}

body{
  background-color: #DEE7E7;

}
.btn-primary {
  color: #DEE7E7;
  background-color:  #0E1C36;;
  border-color: #AFD2E9;
}

.genLangs{
  /* background-color: #AFD2E9; */
  display: inline-block;
  width: 50%;
  min-width: 50%;
  vertical-align: top;
}
