
label{
  color: #0E1C36;
}
ul{
  margin: 0px;
  padding: 0px;
}
#tableLabel{
  color: #0E1C36;
}
#artistSortBox > h6{
  color: #0E1C36;
}
table {
  width: 90%;
  margin: auto;
  min-width: 90%;
}
td{
  width: 25%;
  font-size: 16px;
}
#artistSortBox{
  width: 90%;
  min-width: 90%;
  margin: auto;

}

#paginationSection{
  margin: auto;
  width: 100%;
  min-width: 100%;
}
#paginationContainer{
  display: inline-block;
  width: 100%;
  /* border: 2px solid black; */
  text-align: center;
}
#paginationContainer > button{
  display: inline-block;
  margin: 0px 15px;
  color: #FF0000;
  background-color: transparent;
  border: none;

}
/* #pagination{
} */
form{
  background-color:#A4A9AD;
  border-radius: 25px;
  padding: 10px;
}
#genres > div, #languages > div{
  width: 90%;
  min-width: 90%;
  margin: auto;
  background-color: #AFD2E9;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
}
#genres > div > div, #languages > div > div{
  display: inline-block;
  margin-right: 10px;
  /* background-color: red; */

}
#artists {
  /* display: flexbox; */
  background-color:#AFD2E9;
  height: 100px;
  border-bottom: #DEE7E7 10px solid;
  border-top: #DEE7E7 5px solid;
}
#tail{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 50px;
}
.head{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
}
.list-items{
  list-style-type: disc;
  margin-right: 10px;
  padding: 0;
  display: inline;
}

@media screen and (max-width: 780px){
  .list-items{
    /* list-style-type:square; */
    display: block;
  }
  .head{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 15px;
    /* padding-left: 10px; */
  }
}
@media screen and (max-width: 500px){

  #artists {
    /* display: flexbox; */
    height: 100px;
  }
}

@media screen and (max-width: 325px){
  .list-items{
    font-size: 9px;
    vertical-align: bottom;
  }
  #genres > div > div, #languages > div > div{
    margin-right: 15px;
  }

  td{
    font-size: 12px;
    vertical-align:middle;
  }

  #artists {
    /* display: flexbox; */
    background-color:#AFD2E9;
    height: 100px;
  }
}

