<div id="pageContainer">
<h3 id="tableLabel">All Artists</h3>

<p *ngIf="!artists"><em>Loading...</em></p>

<div id="artistSortBox">
  <h6>Find artists based on their genres and/or languages</h6>
  <form [formGroup]="artistSort" (submit) ="artistSorting(artistSort)" class= "form-horizontal">
    <div id="genres">
      <label>Genres:</label><br>
      <div>
        <div class="checkbox" *ngFor="let genre of genres">
          <label><input formArrayName="artistGenres" type="checkbox" [value]="genre" name={{genre}} (change)="onGenreCheck($event)"> {{genre}}</label>
        </div>
      </div>
    </div>
    <div id="languages">
      <label>Languages:</label><br>
      <div>
        <div class="checkbox" *ngFor="let language of languages">
          <label><input formArrayName="artistLanguages" type="checkbox" [value]="language" name={{language}} (change)="onLanguageCheck($event)"> {{language}}</label>
        </div>
      </div>
    </div>
      <input class="btn-primary btn-xs" type="submit"  value="Submit">
  </form>
</div>
<p *ngIf="sortedArtists && sortedArtists.length == 0">None of the artists meet your specifications</p>

<table  aria-labelledby="tableLabel" >
  <thead>
    <tr>
      <th class="head">Name</th>
      <th>Country</th>
      <th>Genres</th>
      <th>Languages</th>
    </tr>
  </thead>
  <tbody *ngIf="!sortedArtists || (sortedArtists && sortedArtists.length == 0)">
    <tr id="artists" *ngFor="let artist of pageItems">
      <td class="head"><a [routerLinkActive]="['link-active']" routerLink="/artist/{{artist.id}}">{{ artist.name }}</a></td>
      <td>{{ artist.country }}</td>
      <td>
        <ul>
          <li class="list-items" *ngFor="let genre of artist.genres">{{ genre }}</li>
        </ul>
      </td>
      <td id="tail">
        <ul>
          <li class="list-items" *ngFor="let language of artist.languages">{{ language }}</li>
        </ul>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="sortedArtists">
    <tr id="artists" *ngFor="let artist of pageItems">
      <td class="head"><a [routerLinkActive]="['link-active']" routerLink="/artist/{{artist.id}}">{{ artist.name }}</a></td>
      <td>{{ artist.country }}</td>
      <td>
        <ul class="list-items" *ngFor="let genre of artist.genres">{{ genre }}</ul>
      </td>
      <td id="tail">
        <ul class="list-items" *ngFor="let language of artist.languages">{{ language }}</ul>
      </td>
    </tr>
  </tbody>
</table>
<div id="paginationSection" *ngIf="(!sortedArtists || (sortedArtists && sortedArtists.length == 0))" >
  <div id="paginationContainer">
    <button id="previous" *ngIf="page > 1" (click)="turnPage((page - 1))">Previous</button>
    <button id="pagination" (click)="turnPage(1)">1</button>
    <input type="number" value={{page}} max={{pagination[1]}} min={{pagination[0]}} (change)="inputManager($event)">
    <button id="pagination" (click)="turnPage(pagination[1])">{{ pagination[1] }}</button>
    <button id="next" *ngIf="page < pagination[1]" (click)="turnPage((page + 1))">Next</button>
  </div>
</div>
<div id="paginationSection" *ngIf="(sortedArtists && sortedArtists.length > 0)" >
  <div id="paginationContainer">
    <button id="previous" *ngIf="page > 1" (click)="sortedPageTurn((page - 1))">Previous</button>
    <button id="pagination" (click)="sortedPageTurn(1)">1</button>
    <input type="number" value={{page}} max={{pagination[1]}} min={{pagination[0]}} (change)="inputManager($event)">
    <button id="pagination" (click)="sortedPageTurn(pagination[1])">{{ pagination[1] }}</button>
    <button id="next" *ngIf="page < pagination[1]" (click)="sortedPageTurn((page + 1))">Next</button>
  </div>
</div>
</div>






